#! /bin/bash

if [ -z "$FZF_PATH" ]; then
    FZF_PATH="$DOTFILES/../toolbox/fzf"
fi

# Fuzzy File Finder setup and activation
#---------------------------------------
[ -f $FZF_PATH/.fzf.bash ] && source $FZF_PATH/.fzf.bash
export FZF_DEFAULT_OPTS="--extended --height=40% --layout=reverse --info=inline --preview 'bat --style=numbers --color=always --line-range :500 {}'"
# export FZF_DEFAULT_OPTS="--extended --height=40% --preview 'bat --style=numbers --color=always --line-range :500 {}'"
# export FZF_DEFAULT_OPTS="--extended --color=bg+:#293739,bg:#1B1D1E,border:#808080,spinner:#E6DB74,hl:#7E8E91,fg:#F8F8F2,header:#7E8E91,info:#A6E22E,pointer:#A6E22E,marker:#F92672,fg+:#F8F8F2,prompt:#F92672,hl+:#F92672"
# export FZF_DEFAULT_OPTS="--extended --color=bg+:#3B4252,bg:#2E3440,spinner:#81A1C1,hl:#616E88,fg:#D8DEE9,header:#616E88,info:#81A1C1,pointer:#81A1C1,marker:#81A1C1,fg+:#D8DEE9,prompt:#81A1C1,hl+:#81A1C1"
# export FZF_DEFAULT_COMMAND='rg --hidden -l -g '!.git/' "" 2> /dev/null'
# export FZF_CTRL_T_COMMAND='rg --hidden -l -g '!.git/' "" 2> /dev/null'
# export FZF_DEFAULT_COMMAND="find \! \( -path '*/.git' -prune \) -printf '%P\n'"
# export FZF_CTRL_T_COMMAND="find \! \( -path '*/.git' -prune \) -printf '%P\n'"
# export FZF_DEFAULT_COMMAND="fd --type f"
# export FZF_CTRL_T_COMMAND="fd --type f"
export FZF_DEFAULT_COMMAND="fd -H -E .git"
export FZF_CTRL_T_COMMAND="fd -H -E .git"

alias fzp='fzf --height=60% --extended --layout=reverse --info=inline --preview "bat --color=always --style=numbers --line-range=:500 {}"'
